body {
    background-image: url("https://i.imgur.com/NDQcmWs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.glassmorphic {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: red !important;
}